@charset "UTF-8";
/* CSS Document */

.header {
	text-align: center;
	font-family:'Ubuntu', sans-serif;
}

.header h1{
	font-size: 25px;
	margin:45px auto 5px auto;
	color:#2A2A2A;
}

.header h1 a{
	text-decoration: none;
	color:#2A2A2A;
}

.header h2{
	font-size: 13px;
	margin:-5px auto;
}

.header h2 a{
	text-decoration:none;
	color:#2A2A2A;
}

.header h2 a:hover{
	color:#55acee;
}

.container{
	text-align: center;
	margin:40px auto;
	
}

.container h3{
	color:#5C5959;
	font-size:30px;
	font-weight:500;
	text-align: center;
}

.container p{
	margin:30px auto;
}

.container p{
	text-align: left;
}

.container span{
	font-weight: 800;
	font-size: 1.1em;
}

.main-claim{
	font-size:1.4em;
}

.main-claim:hover{
	color:#CC4F51;
}

.main-claim span{
	color:#CC4F51;
}

.container h4{
	text-align: right;
	font-size:12px;
	color:#7E7878;
}

.footer h3{
	font-size:13px;
	text-align: center;
	font-family:'Raleway', sans-serif;

