@charset "UTF-8";
/* CSS Document */

*{
	margin: 0;
    padding: 0;
	text-align: center;
	background-color: #062c37;
}

container{
	margin:216px auto;
}

.fa{
	color:antiquewhite;
	margin:310px 40px 320px 40px;
}

.{
	transition: 0.7s ;
	color: #CD5554;
}

.fa:hover{
	color:#CD5554;
}

footer{
	font-size:13px;
	text-align: center;
	color:antiquewhite;
}
