@charset "UTF-8";
/* CSS Document */


.header {
	text-align: center;
	font-family:'Ubuntu', sans-serif;
}

.header h1{
	font-size: 25px;
	margin:45px auto 5px auto;
	color:#2A2A2A;
}

.header h1 a{
	text-decoration: none;
	color:#2A2A2A;
}

.header h2{
	font-size: 13px;
	margin:-5px auto;
}

.header h2 a{
	text-decoration:none;
	color:#2A2A2A;
}

.container-fluid{
	margin-bottom:346px;
}

.row{
	text-align: center;
}

.col-md-4 img{
	margin: 40px auto;
}

.container-fluid a{
	text-decoration: none;
}

.container-fluid p{
	margin:-25px auto;
	color:#5C5959;
}

.container-fluid p:hover{
	color:crimson;
}

.footer h3{
	font-size:13px;
	text-align: center;
	font-family:'Raleway', sans-serif;
}
